-# This file is app/views/cars/index.html.haml
%h1 All Cars

%table#cars
  %thead
    %tr
      %th Make
      %th Model
      %th Year
      %th Type
      %th More Info
  %tbody
    - @cars.each do |car|
      %tr
        %td= car.make
        %td= car.model
        %td= car.year
        %td= car.body
        %td= link_to "More about #{car.make} #{car.model}", car_path(car)
  
= link_to 'Add new car', new_car_path
= link_to 'Sign up', new_user_path
= link_to 'Sign in', new_session_path
= link_to 'Back to home', info_pages_home_path
= link_to 'About us', info_pages_about_path
= link_to 'Help', info_pages_help_path
